<!DOCTYPE html>
<html>
    <head>
        <title>Shows</title>
    </head>
    <body>
        <h2>IMDB: Top 5 Episodes</h2>
        <table width="100%", border="solid">
          <tr>
            <th>Title</th>
            <th>Episode</th>
            <th>Rating</th>
          </tr>
            <tr th:each="show : ${shows}">
                <td th:text="*{show.title}"></td>
                <td th:text="*{show.episode}"></td>
                <td th:text="*{show.rating}"></td>
            </tr>
        </table>        
    </body>
</html>