<!DOCTYPE html>
<html>
    <head>
        <title>Sales Records</title>
    </head>
    <body>
        <h2>Sales Records</h2>
    <table id="table">
        <tr>
            <th>Item</th>
            <th>Revenue</th>
            <th>Cost</th>
            <th>Profit</th>
        </tr>
        <tr th:each="record : ${Records}" th:style="${(record.revenue - record.cost) >= 0}? 'background-color: green' : 'background-color: red'">
            <td th:text="${record.item}"></td>
            <td th:text="${#numbers.formatCurrency(record.revenue)}"></td>
            <td th:text="${#numbers.formatCurrency(record.cost)}"></td>
            <td th:text="${#numbers.formatCurrency(record.revenue - record.cost)}"></td>
        </tr>
    </table>
    </body>
</html>